numpy
pillow
av
ffmpy
torch
os
cv2
random
torch
math
keyboard
pandas
skimage
shutil
keyboard
requests
pathlib
time
python-irodsclient
opencv-python
git+https://github.com/facebookresearch/segment-anything.git
segment_anything

